*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:cornflowerblue;
}

.home{
    display: flex;
    justify-content: center;
    padding: 20px 100px;
    height: 100px;
    align-items: center;
    background-color: lightcyan;
    width: 1100px;
    margin: 30px auto;
}
.home ul{
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 30px;
}
.blok{
    display: flex; 
   justify-content: space-evenly;
}
.blok ul{
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 41px 0px auto;
    background-color: white;
    height: 222px;
    width:234px;
    text-align:center;
    padding: 20px;
}
